[project]
name = "apiserver"
version = "4.0.0"
description = "D.S.A.V. Dodeka backend"
authors = [
    { name = "Tip ten Brink", email = "75669206+tiptenbrink@users.noreply.github.com" },
    { name = "Matthijs Arnoldus", email = "mat.arnoldus@kpnmail.nl" },
    { name = "Leander Bindt", email = "leander.bindt@ziggo.nl" },
    { name = "Senne Drent", email = "sennedrent@gmail.com" }
]
requires-python = ">=3.13"
dependencies = [
    "fastapi[standard-no-fastapi-cloud-cli]==0.116.1",
    "pydantic==2.11.7",
    "sqlalchemy==2.0.43",
    "jinja2>=3.1.6,<4.0.0",
    "loguru>=0.7.2,<1.0.0",
    "pydantic-settings>=2.10.1",
]

[project.scripts]
backend = "apiserver.dev:run"

[dependency-groups]
dev = [
    "pytest>=8.4.2,<9.0.0",
    # "pytest-asyncio>=0.23.2,<0.24.0",
    # "pytest-mock>=3.7.0,<4.0.0",
    # "pre-commit>=2.20.0,<3.0.0",
    "httpx>=0.28.1,<0.29.0",
    # "alembic>=1.12.0,<2.0.0",
    # "coverage>=7.3.2,<8.0.0",
    # "black==23.11.0",
    # "mypy>=1.5.1,<2.0.0",
    # "faker>=19.3.1,<20.0.0",
    "ruff>=0.12.12,<0.13.0",
    # "types-regex>=2023.10.3.0,<2024.0.0",
]

# [tool.hatch.build.targets.wheel]
# only-packages = true
# packages = ["src/apiserver", "src/auth", "src/datacontext", "src/schema", "src/store"]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

# [tool.black]
# target-version = ['py311']
# preview = true

# [tool.mypy]
# python_version = "3.11"
# strict = true
# files = ["src"]
# plugins = [
#     "pydantic.mypy",
# ]

# [[tool.mypy.overrides]]
# module = [
#     "schema.model.env",
#     "schema.model.versions.*"
# ]
# ignore_errors = true

[tool.ruff.lint]
select = ["F", "PL", "E", "W", "RUF"]
# We ignore too-many-arguments and line length, as black fixes line length for code
# TODO: check if we need this
# ignore = ["PLR0913", "E501"]

[tool.ruff.lint.per-file-ignores]
# TODO: check if we need this
# "__init__.py" = ["F403"]

[tool.ruff.lint.pycodestyle]
# We allow docs and comments to be long
max-doc-length = 120
