@use "../../variables";

.regLink {
    color: variables.$dodeka_rood;
    text-align: center;
    font-size: variables.$font_medium;
    line-height: variables.$line_height_medium;
    text-decoration: none;
}

.regLink a:visited {
    color: #812016;
}